body {
  background-color: rgb(19, 247, 65);
  margin: 0%;
}
.master {
  margin-top: 10%;
  align-self: center;
  height: 100vh;
  width: 100vw;
}
.space {
  height: 300px;
  width: 600px;
  background-color: blueviolet;
  border-radius: 6px;
  margin: auto;
  padding: 20px;
}
.space h1 {
  text-align: center;
  color: rgb(14, 127, 5);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.a-text {
  display: flex;
  align-self: center;
}
.a-text a {
  text-decoration: none;
  padding: 0px 15px;
  color: rgb(19, 235, 163);
  font-size: 20px;
  margin: auto;
}
a:hover {
  background-color: rgb(215, 78, 78);
}
.tag {
  margin-left: 50px;
}
@media screen and (max-width: 750px) {
  .a-text {
    flex-direction: column;
  }
  .master {
    display: flex;
    width: 50vw;
    height: 50vh;
    align-self: center;
    margin: 100px;
  }
  .tag {
    padding-bottom: 20px;
  }
  .space {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-decoration: underline;
  }
}
