body {
  margin: 0 auto;
  background-color: #eeeee4;
}
#navbar {
  height: 90px;
  background-color: #625c5c;
  display: flex;
  border-bottom: #eeeee4 solid 4px;
}
.left {
  float: left;
  background-color: #625c5c;
  display: flex;
}
.left img {
  height: 50px;
  padding: 10px;
}
.left h2 {
  display: inline;
  color: white;
}
.right {
  float: right;
  float: right;
  justify-content: space-between;
  background-color: #625c5c;
}
.right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  float: right;
  justify-content: space-between;
  margin: 10px 10px 10px 1300px;
}
.main-container {
  background-color: #eeeee4;
  height: 0px;
  margin-top: 0px;
}
.dash {
  margin-left: 215px;
  margin-bottom: 2px;
  text-decoration: underline;
}
.side-container {
  background-color: #625c5c;
  height: 620px;
  width: calc(12%);
  padding: 5px;
  margin-top: -22px;
}
.box {
  background-color: #ececec;
  margin: 100px 10px 0 10px;
  margin-right: 20px;
  display: flex;
}
.container1 {
  background-color: #1abcfd;
  height: 150px;
  width: calc(79% / 4);
  float: right;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  color: #fff;
  margin-top: 5px;
}
.container2 {
  background-color: #f34e1e;
  height: 150px;
  width: calc(79% / 4);
  color: #fff;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  float: right;
  margin-top: 5px;
}
.container3 {
  background-color: #a259ff;
  height: 150px;
  width: calc(79% / 4);
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  float: right;
  margin-top: 5px;
}
.container4 {
  background-color: #0ace82;
  height: 150px;
  width: calc(79% / 4);
  display: flex;
  float: right;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin-top: 5px;
}
.one {
  background-color: #ff3e0c;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.one h4 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 18px;
  text-align: center;
}
.two {
  background-color: #0cabff;
  height: 250px;
  width: 250px;
  border-radius: 59%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.two h4 {
  display: flex;
  text-align: center;
  padding: 55px;
}
.three {
  background-color: #a259ff;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  float: right;
  display: flex;
  justify-content: center;
  margin: 50px 50px 0px 50px;
}
.three h4 {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 35px;
  text-align: center;
}
.innerthree {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #0ace82;
}
.innertwo {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #fff;
}
.innerone {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #fd6b57;
}
.inner {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-color: #ae1eee;
}
.bar-container {
  height: 190px;
  width: 190px;
  float: right;
  margin: 50px 50px 0px 50px;
  border-bottom: #0f0d0c 8px solid;
  background-color: #eeeee4;
}
.bar2 {
  height: 180px;
  width: 8px;
  float: left;
  margin: 0px;
  margin-top: 10px;
  background-color: #030704;
}
.bar3 {
  height: 160px;
  width: 8px;
  margin: 10px;
  margin-top: 30px;
  float: left;
  background-color: #0c9eff;
}
.bar4 {
  height: 120px;
  width: 8px;
  margin: 10px;
  margin-top: 70px;
  float: left;
  background-color: #ae1eee;
}
.bar5 {
  height: 70px;
  width: 8px;
  margin: 10px;
  margin-top: 120px;
  float: left;
  background-color: #e8ff39;
}
.bar6 {
  height: 150px;
  width: 8px;
  margin: 10px;
  margin-top: 40px;
  float: left;
  background-color: #09f034;
}
.bar7 {
  height: 100px;
  width: 8px;
  margin: 10px;
  margin-top: 90px;
  float: left;
  background-color: #fa4d36;
}
